doctype html
html
  head
    title Listing Detail
    link(rel="stylesheet", href="/styles.css")
  body
    header
      h1 Book Swap
      nav
  a(href="/") Home
  a(href="/listings") Listings
  a(href="/users") Users

    .container
      if listing
        h2.section-title= listing.title

        .card
          p.meta
            strong Author:
            |  #{listing.author}
          p.meta
            strong ISBN:
            |  #{listing.isbn}
          p.meta
            strong Description:
            |  #{listing.description}
          p.meta
            strong Condition:
            |  #{listing.book_condition}
          p.meta
            strong Status:
            |  #{listing.status}

          if owner
            p.meta
              strong Owner:
              |  
              a(href=`/users/${owner.id}`)= owner.name

          if categories.length
            h3 Categories
            ul.tag-list
              each category in categories
                li= category.name

        a.button-link(href="/listings") Back to Listings
      else
        p Listing not found.