doctype html
html
  head
    title Listing Detail
  body
    if listing
      h1= listing.title
      p Author: #{listing.author}
      p ISBN: #{listing.isbn}
      p Description: #{listing.description}
      p Condition: #{listing.book_condition}
      p Status: #{listing.status}

      if owner
        p Owner:
          a(href=`/users/${owner.id}`) #{owner.name}

      if categories.length
        h2 Categories
        ul
          each category in categories
            li= category.name
    else
      p Listing not found.